body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/Logo-Supernatural-Wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 100%;
    margin: auto;
    padding: 0%;
    height: 100%;
}

.containerForEverything{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(95, 95, 97, 0.418);
    max-width: 1000px;
    height: auto;
    position: relative;
    text-align: center;
}

.question{
    color: white;
    font-size: 40px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 20px;
}

.allButtonsContainer{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
justify-content: center;
padding-bottom: 20px;
}

.allButtons{
    width: 400px;
    height: 100px;
    background-color: rgba(126, 147, 167, 0.425);
    border: solid 1px rgba(0, 195, 255, 0.26);
    
}

.imagesInTheContainer{
    max-height: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.wrong:focus{
    background-color: rgba(223, 43, 43, 0.493);
}


.right:focus{
    background-color: rgba(30, 255, 0, 0.671);
}

.nextQuestionContainer{
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.nextQuestionContainer button:active{
    background-color: rgba(52, 81, 109, 0.425);

}

.startQuizContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 95, 97, 0.418);
    width: 600px;
    height: 600px;
    margin: auto;
}

.startQuizContainer button{
    color: rgb(240, 240, 240);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}



.hide{
    display: none;
}

.show{
    display: flex;
}

    /****************RESPONSIVE********************/

@media only screen and (max-width: 900px){

    .containerForEverything{
        padding: 0%;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding-top: 20px;

        padding-bottom: 20px;
    }

    .containerForEverything img{
        max-width: 400px;
        padding-bottom: 30px;
    }

    .containerForEverything p{
        padding-bottom: 10px;
    }

.allButtonsContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0%;
}

.imagesInTheContainer{
    padding: 0%;
}

}